name: PR Check

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2.3.4
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: "1.16"
      - name: Run unit tests
        shell: bash
        run: |
          make test/unit
      - name: Upload code coverage report
        uses: codecov/codecov-action@v3.1.0
        with:
          fail_ci_if_error: true
          file: cover.out
          verbose: true
